@import './../../../styles.scss';

.top-nav {
    height: 5em;
    background-color: $component-background-color;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid #1b1c2e;

    .icon-container {
        width: 20%;

        display: flex; 
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1em;
            color: #92939c;
            height: 5em;
            width: 5em;
            cursor: pointer;
        }
    }

    input {
        width: 30%;
        height: 3em;
        background-color: #282d3a;
        color: #fff;
        outline: none;

        margin: 0 10%;
    }

    .profile {
        width: 20%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        padding-left: 1.5em;

        .profile-text {
            display: flex;
            flex-flow: column nowrap;
            color: #fff;
            margin-right: 1em;

            .email {
                color: #92939c;
            }
        }

        .profile-pic {
            font-size: 1.25em;
            background-color: #fff;
            padding: 0.25em 0.4em;
            border-radius: 60%;
        }
    }
}

.active {
    color: #fff !important;
}