<div class="top-nav">
    <!-- Navigation -->
    <div class="icon-container">
        <span routerLink="/dashboard" routerLinkActive="active" class="tab">Dashboard</span>
        <span routerLink="/portfolio" routerLinkActive="active" class="tab"> Scripts</span>
        <span routerLink="/settings" routerLinkActive="active" class="tab">Screener</span>
    </div>

    <!-- Search Stock -->
    <input placeholder="Search for symbols" type="text" id="stock" name="stock" required minlength="1" maxlength="8" size="10">

    <div class="profile">
        <div class="profile-text">
            <div class="profile-name">Josh Park</div>
            <div class="email">joshuapark@gmail.com</div>
        </div>
        <div class="profile-pic">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
</div>