
/* Color vars */
$background-color: #1b1e2d;
$component-background-color: #222732;

/* Dimensions */
$side-nav-width: 5em;

html,body {
    height:100%;
}

html {
    overflow: hidden;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}