/* You can add global styles to this file, and also import other style files */

/* Color vars */
$background-color: #1b1e2d;
$component-background-color: #222732;

/* Dimensions */
$side-nav-width: 5em;

html {
    max-width: 100vw;
    max-height: 100vh;

    overflow: hidden;

    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}