@import './../../../styles.scss';

.side-nav {
    height: 100%;
    width: $side-nav-width;

    background-color: $component-background-color;

    .icon-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        // padding-top: 10em;
    }
}

i {
    font-size: 1.5em;
    color: white;
    margin: 1em 0;
}