<div class="dashboard">
    <div id="chart-container">
        <ngx-charts-area-chart
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            [gradient]="true"
            [autoScale]="true"
            (select)="onSelect($event)">
        </ngx-charts-area-chart>
    </div>
</div>